{{ define "main" }}
  <article>
    {{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}
    <ul class="posts-list">
      {{ range .Paginator.Pages.ByDate.Reverse }}
        <li class="posts-list-item">
          <h2><a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ partial "preview.html" .}}
          <span class="posts-list-item-description">
            {{ partial "meta.html" .}}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
