{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      {{- if ne .Type "page" }}
      <div class="post-meta">
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }} 
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} 
          {{ .ReadingTime }} min read
        </div>
        {{- with .Params.categories }}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "folder") }} 
          {{- range . -}}
            {{ with $.Site.GetPage (printf "/%s/%s" "categories" . ) }}
              <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end }}
          {{- end }}
        </div>
        {{- end }}
        {{- with .Params.tags }}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "tag") }} 
          {{- range . -}}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
              <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end }}
          {{- end }}
        </div>
        {{- end }}
      </div>
      {{- end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{- with .Site.Params.utterences }}
        <script src="https://utteranc.es/client.js"
          repo="{{ .repo }}"
          issue-term="{{ .issue_term | default "pathname" }}"
          theme="{{ .theme | default "preferred-color-scheme" }}"
          crossorigin="anonymous"
          async>
        </script>
      {{ end }}
    </div>
  </article>
{{ end }}
