* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: $dark-color;
  color: $light-color;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightest-color;
}

.post-title, .posts-list-item-title{
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.1;
}

a {
  color: $primary-color;
  transition: color 0.35s;
  text-decoration: none;

  &:hover {
    color: $lightest-color;
  }
}

.btn{
    background-color: #D9411E;
    padding: .4em .6em;
    font-size: .9em;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    text-align: center;
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
  font-family: monospace,monospace;
  font-size: .8em;
  //background-color: light-grey;
  padding-left: 0.5em;

  // Fixes iOS font sizing anomaly
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

pre {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0;
  overflow: auto;
  code{
    display:block
  }
}

hr {
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0 0.5em 0 0.5em
}

::selection {
  background: rgba($light-color, .25);
}
::-moz-selection {
  background: rgba($light-color, .25);
}
