$darkest-color: {{ .Site.Params.style.darkestColor | default "#242930" }};
$dark-color: {{ .Site.Params.style.darkColor | default "#353b43" }};
$light-color: {{ .Site.Params.style.lightColor | default "#afbac4" }};
$lightest-color: {{ .Site.Params.style.lightestColor | default "#ffffff" }};
$primary-color: {{ .Site.Params.style.primaryColor | default "#57cc8a" }};

* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: $dark-color;
  color: $light-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightest-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $lightest-color;
    transition: color 0.8s;
  }
}

pre {
  overflow: auto;
}

.app-header {
  padding: 2.5em;
  background: $darkest-color;
  text-align: center;
}

.app-header-avatar {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 100%;
  border: 0.5rem solid $primary-color;
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

.icon {
  display: block-inline;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.tag {
  display: inline-block;
  margin-right: 0.2em;
  padding: 0 0.6em;
  font-size: 0.9em;
  border-radius: 0.2em;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.8s;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.post-title {
  color: $lightest-color;
}

.post-content {
  pre {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding-left: 1em;
  }
}

.post-meta {
  font-size: 0.8em;
}

.posts-list {
  padding: 0;
}

.posts-list-item {
  list-style: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  padding: 0.4em 0;
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
}

@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }

  .app-container {
    max-width: 65rem;
    margin-left: 20rem;
  }
}
