.app-header {
  padding: 2.5em;
  background: $darkest-color;
  text-align: center;
}

.app-header-avatar {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 100%;
  border: 0.5rem solid $primary-color;
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

@media (max-width: 940px) {
  .app-header {
    padding: 0.5em;
    min-height: 9rem;
    width: 100%;

    h2 {
      font-size: large;
    }

    p {
      clear: both;
      text-align: left;
    }
  }

  .app-header-avatar {
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 100%;
    border: .25rem solid $primary-color;
    float: left;
  }

  .app-container {
    padding: 0.5rem;
  }
}
