.code-tab {
  overflow: hidden;
  font-family: monospace;
  margin-bottom: 1em;

  .code-tab-header {
    background-color: $darkest-color;
    padding: 0.5em;
    font-weight: bold;
    font-size: 0.9em;
  }

  .code-content {
    .highlight {
      margin: 0;
    }
  }

}
