.posts-list {
  padding: 0;
}

.posts-list-item {
  list-style: none;
  padding: 0.4em 0;

  &:not(:last-child) {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  }
}

.posts-list-item-description {
  display: flex;
  align-items: center;
  font-size: 0.8em;

  > .icon {
    margin-right: 0.4em;
  }
}

.posts-list-item-separator {
  margin: 0 0.4em;
}
