<!-- layouts/partials/autolinked-headers.html -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('h1, h2, h3, h4, h5, h6').forEach(function (header) {
            if (header.id) {
                var wrap = document.createElement('a');
                wrap.href = '#' + header.id;
                wrap.classList.add('header-link');

                while (header.firstChild) {
                    wrap.appendChild(header.firstChild);
                }

                header.appendChild(wrap);
            }
        });
    });
</script>